.for-btn {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forr {
  display: flex;
  flex-direction: row;
}

.inside-div {
  height: 4px;
  width: 500px;
  color: white;
}

.container {
  height: 150px;
  width: 500px;
  background-color: #9ae851;
  border-radius: 5px;
}

.for-music {
  background-color: black;
  height: 3px;
}