.for-btn {
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
}

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forr {
  display: flex;
  flex-direction: row;
}

.inside-div {
  height: 6px;
  width: 600px;
  color: red;
}

.range {
  background-color: black;
  width: 50%;
  cursor: pointer;
  opacity: 1;
  height: 5px;
  margin: 0 auto;
}

.sound {
  height: 200px;
  width: 20px;
}

.btn-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  height: 200px;
  width: 700px;
  background-color: #9ae851;
  border-radius: 5px;

}

.for-music {
  background-color: blue;
  height: 5px;
}